PORT=3000
NODE_ENV=development

# Service URLs
BOOKS_SERVICE_URL=http://localhost:3001
MEMBERS_SERVICE_URL=http://localhost:3012
ISSUES_SERVICE_URL=http://localhost:3013
REQUESTS_SERVICE_URL=http://localhost:3014

# Kafka
KAFKA_BROKER=localhost:9092
